{% extends "base.html" %}

	{% block jumbotron_content %}
	<h1>Welcome to Jake's Web App!</h1>
	{% endblock %}

	{% block body_content %}
	<p>Hello and welcome to my test webapp!  This will soon be the home of the new <br>
	SalukiLAN site and will provide information on the event and how you can register!</p>
	<br>
	<p>Enter your name and email for updates!</p>
	<p style="color: red">This site requires you to have cookies enabled!</p>
	<!-- Retrieves the form for the email entry that can be found in forms.py and views.py -->
	<form method="POST" action=""> {% csrf_token %}
	<table>
		<tr>
			<td>
				{{ form.as_p }} <!-- Sets up the email field as a paragraph -->
			</td>
		</tr>
		<tr>
			<td>
				<input type='submit' value='Submit Email' class='btn' require/>
			</td>
		</tr>
	</table>
	</form>
	
	{% endblock %}
	
		
	
